[submodule "source/libs/cglm"]
	path = source/libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "source/libs/cgltf"]
	path = source/libs/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "source/libs/nxjson"]
	path = source/libs/nxjson
	url = https://github.com/thestr4ng3r/nxjson.git
[submodule "source/libs/stb"]
	path = source/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "source/deccer-cubes"]
	path = source/deccer-cubes
	url = https://github.com/GraphicsProgramming/deccer-cubes.git
