[submodule "source/libs/cglm"]
	path = source/libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "source/libs/cgltf"]
	path = source/libs/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
